<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="styles/descentStyle.css">

</head>
<body>
    <h1>Calculator</h1>
    <form  th:action="@{/calculate}" th:object="${calculationattributes}" method="get">
        <div >
            <label>Email Id:</label>
            <input type="text" th:field="*{emailId}" />
        </div>
        <div>
            <label>First Parameter: </label>
            <input type="number" step="any" placeholder="Enter a number"  th:field="*{firstParameter}" required/>
        </div>
        <div>
            <label>operation: </label>
            <select th:field="*{operation}" required>
                <option th:each="operation : ${operations}" th:value="${operation}" th:text="${operation}"></option>
            </select>
        </div>
        <div>
            <label>Second Parameter: </label>
            <input type="number" step="any" placeholder="Enter a number"  th:field="*{secondParameter}" required/>
        </div>
        <div>
            <button type="submit">Calculate</button>
        </div>
    </form>

</body>
</html>